<%= content_for(:header_image) do %>
  <%= content_tag :header, nil, class: "py-5 bg-image-full", id: "header-image-contact-us" do %>
    <div class="container">
      <div class="row">
        <div class="offset-sm-2 col-sm-4">
          <%= content_tag :h1, t(:contact_us), class: "display-4 text-light" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="mx-auto col-sm-8">
    <h2>Contact Us</h2>
    <p class="text-justify"> email: <%= mail_to "giselandrewadopt@gmail.com" %> </p>
    <p class="text-justify"> phone: 646-598-9016 </p>
    <p class="text-justify"> facebook: <%= link_to nil, "https://www.facebook.com/giselandrewadopt" %> </p>
    <p class="text-justify"> instagram: <%= link_to nil, "https://www.instagram.com/giselandrewadopt" %> </p>
  </div>
</div>

