<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= (@page_title || "Welcome").html_safe %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render template: "layouts/navigation" %>
    <%= render template: "layouts/header" %>
    <!-- Content section -->
    <%= content_tag :section, nil, class: "py-5" do %>
      <div class="container"><%= yield %></div>
    <% end %>
    <%# content_tag :section, nil, class: "py-5 bg-image-full", style: "background-image: url('#{asset_path('family-1')}');" do %>
      <div style="height: 200px"></div>
    <%# end %>
    <%= render template: "layouts/footer" %>
  </body>
</html>
